.entry {
  margin: 30vh 0;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 600ms cubic-bezier(0.215, 0.440, 0.420, 0.880) 200ms,
              translate3d 600ms cubic-bezier(0.215, 0.440, 0.420, 0.880) 200ms;
  z-index: 2;
}

.entry:first-child {
  height: 100vh;
  margin: 0;
}

.entry__unloaded {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.entry--content {
  display: table;
  margin: auto;
}

.entry--image {
  max-width: 100%;
  display: block;
  box-shadow: 0 5px 12px 1px rgba(0,0,0,0.1);
}

.constrain-x {
  max-width: 100%;
}

.constrain-y {
  max-height: calc(90vh - 1.5rem);
}

.entry--caption {
  display: inline-block;
  width: 90%;
  margin-top: 1.5rem;
}

.entry--link {
  color: black;
  text-decoration: none;
}

.entry--link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .entry--image {
    max-width: 800px;
  }
}

.site-title.fade-out {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}